input{
    display: block;
	margin: 0px;
	position: relative;
    width:100%;
    line-height:2;
    border-radius: 4px;
	border: 1px solid #b7b7b7;
    background-color: #fff;
    padding: 8px 14px;
    color: #5e5e5e;
    font-size: 12px;
	font-weight: 400;
	/* max-height: 50px; */
}

.d-flex{
    display: flex;
}
.align-center{
	align-items: center;
}
.space-between{
	justify-content: space-between!important;
}

.select {
	width:100%; 
	/* height:50px; */
	display: block;
    margin: 0px;
    line-height: 2;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    padding: 8px 14px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
}
.select {
	/* background: #fff url('/images/down-arrow.png') no-repeat right center; */
	cursor: pointer;
	background-size: 15px 15px;
	background-origin:content-box;
	
	/* Hide default dropdown arrow */
	-webkit-appearance: none;
	   -moz-appearance: none;
		-ms-appearance: none;
			appearance: none;
}
.btn{
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent!important;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
}
.btn-primary{
	color: #fff!important;
    background-color: #3696db!important;
    border-color: #3696db!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2f86c4;
    border-color: #2f86c4;
}
.btn-secondary{
	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover{
	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-danger{
	color: #fff!important;
    background-color: #ff4747!important;
    border-color: #ff4747!important;
}
.btn-danger:hover{
	color: #fff;
    background-color: #bd2d3c;
    border-color: #bd2d3c;
}
.btn-danger .MuiSvgIcon-root{
	vertical-align: text-bottom;
}
.btn-warning{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-info{
	color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-info:hover{
	color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-light{
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover{
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn-secondary-outline{
	color: #6c757d!important;
    background-color: transparent!important;
    border-color: #6c757d!important;
}
.btn-secondary-outline:hover{
	background-color: #000!important;
	border-color: #000!important;
	color: #fff!important;
}
.btn-outline-grey{
	border-color: #cbcbcb!important;
	background-color: transparent!important;
	color: #000!important;
}
.btn-outline-grey:hover{
	background-color: #cbcbcb!important;
	border-color: #cbcbcb!important;
	color: #000!important;
}
.btn-outline-green{
	border-color: #0db79b!important;
	background-color: transparent!important;
	color: #0db79b!important;
}
.btn-outline-green:hover{
	border-color: #0db79b!important;
	background-color: #0db79b!important;
	color: #fff!important;
}
.btn-outline-red {
    color: #ff4747!important;
    background-color: transparent!important;
    border-color: #ff4747!important;
}
.btn-outline-red:hover {
    color: #fff!important;
    background-color: #ff4747!important;
    border-color: #ff4747!important;
}
.btn-outline-light{
	color: #fff!important;
    background-color: transparent!important;
    border-color: #fff!important;
}
.btn-outline-light:hover{
	color: #000!important;
    background-color: #fff!important;
    border-color: #fff!important;
}
.btn-icon-flat{
	background-color: #f8f8f8!important;
	color: #0096db;
	border-color: #dedede!important;
	padding: 5px 0px;
	position: relative;
}
.btn-icon-flat:hover{background-color: #e0dfdf!important;}
.m-0{margin:0px!important;}
.mb-3{margin-bottom: 3px!important;}
.mb-5{margin-bottom: 5px!important;}
.mb-10{margin-bottom: 10px!important;}
.mb-15{margin-bottom: 15px!important;}
.mb-20{margin-bottom: 20px!important;}
.mb-22{margin-bottom: 2.2rem!important;}
.mb-32{margin-bottom: 32px!important;}
.mb-50{margin-bottom: 50px!important;}
.ml-3{margin-left: 3px;}
.ml-2{margin-left: 2px;}
.ml-5{margin-left: .5rem;}
.ml-10{margin-left: 1rem;}
.ml-15{margin-left: 1.5rem;}
.ml-20{margin-left: 2rem;}
.mr-2{margin-right: .2rem;}
.mr-3{margin-right: .3rem;}
.mr-0{margin-right: 0!important}
.mr-5{
	margin-right: .5rem;
}
.mr-10{
	margin-right: 1rem;
}
.mr-15{
	margin-right: 1.5rem;
}
.mr-20{
	margin-right: 2rem;
}
.mt-5{ margin-top: 5px!important; } 
.mt-10{ margin-top: 10px!important; } 
.mt-15{ margin-top: 15px!important; } 
.mt-20{ margin-top: 20px; }
.m-rl-20{ margin: 0px 20px; }
.mtb-30{
	margin-top: 30px!important;
	margin-bottom: 30px!important; 
}
.mtb-10{
	margin-top: 10px!important;
	margin-bottom: 10px!important; 
}
.mtb-20{
	margin-top: 20px!important;
	margin-bottom: 20px!important; 
}
.margin-top-bottom-3px{
	margin: 2px 0px;
}
.btn-submit{
	color: #fff!important;
    background-color: #3696db!important;
}
.btn-submit:hover{
	background-color: #2a7ebb!important;
}
.main-heading{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}
.sub-heading{
	font-size: 11px;
    font-weight: 400;
	line-height: 1.5;
	color: #666;
}
.main-div .main-heading{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}
.main-div .sub-heading{
    color: #666;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
}

.border-bottom{
	border-bottom: 1px solid #dedede!important;
}
.border-top{
	border-top: 1px solid #dedede;
}
.border-right{
	border-right: 1px solid #dedede;
}
.border-left{
	border-left: 1px solid #dedede;
}
a{
	text-decoration: none;
	cursor: pointer!important;
}

